.d-img {
  height: 150px;
}

.reservation-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  margin-right: 10px !important;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.con {
  width: 79%;
  position: fixed;
  right: 0;
  margin-top: 80px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  background-color: green !important;
  width: 80px;
  padding: 27px;
  font-weight: bolder;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
}

.swiper-button-next {
  display: flex;
  justify-content: flex-start;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  right: 0;
}

.swiper-button-prev {
  display: flex;
  justify-content: flex-end;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  left: 0;
}

.days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  background-color: grey;
  padding: 5px;
  min-width: 50px;
  height: 50px;
  margin-right: 10px;
}

.days p {
  margin: 0;
}

.d-text {
  color: rgb(60, 43, 2);
  font-weight: bold;
  font-size: larger;
}

.r-btn {
  text-decoration: none;
  color: white !important;
  background-color: rgb(196, 144, 13);
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.info-con {
  display: flex;
}

.b-sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  height: 70px;
}

.avg {
  display: flex;
  flex-direction: column;
}

.avg i {
  margin-left: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
}

.swiper-pagination {
  position: static !important;
  color: rgb(100, 100, 100) !important;
  font-weight: bolder !important;
  margin-bottom: 20px;
}

.price-con {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  color: rgb(26, 26, 141);
}

.price-con p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: bold;
  margin-left: 5px;
}

.swiper-horizontal>,
.swiper-scrollbar {
  left: 0 !important;
  right: 10% !important;
  width: 86% !important;
}

.title-con {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.title-con h1 {
  color: black;
}

.pub p {
  font-family: 'Helvitica', Helvetica, sans-serif;
  font-weight: 100;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .con {
    width: 100%;
    margin-top: 0;
    padding: 20px;
  }
}
